<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Houve uma solicitação de troca se senha. <br>Caso não tenha feito esta solicitação, favor ignorar este e-mail.</p>
    <p>
        <a href="{{link}}">Resetar senha</a>
    </p>
    <p>Obrigado<br><strong>GoBarber</strong></p>
</div>
